<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Gestion desutilisateurs
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-success px-4 mb-2" (click)="versAjouter()">+ Ajouter un utilisateur</button>
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Role</th>
                        <th>Statut</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <td>{{user.nom}}</td>
                        <td>{{user.prenom}}</td>
                        <td>{{user.role}}</td>
                        <td>
                            <span class="badge badge-success">{{user.statut}}</span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary px-4" (click)="edit(i)">Editer</button>
                            <button type="button" class="btn btn-danger px-4" (click)="delete(i)">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>