<div class="container mt-5">  
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Basic Form</strong> Elements
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Entreprise</label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" name="text-input" class="form-control"
                                    placeholder="Text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="email-input">Email Input</label>
                            <div class="col-md-9">
                                <input type="email" id="email-input" name="email-input" class="form-control"
                                    placeholder="Enter Email" autocomplete="email">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="date-input">Date Enregistrement</label>
                            <div class="col-md-9">
                                <input class="form-control" id="date-input" type="date" name="date-input"
                                    placeholder="date">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="date-input">Date Rendez-vous</label>
                            <div class="col-md-9">
                                <input class="form-control" id="date-input" type="date" name="date-input"
                                    placeholder="date">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="select1">Secteur</label>
                            <div class="col-md-9">
                                <select id="select1" name="select1" class="form-control">
                                    <option value="0">Choisissez un secteur</option>
                                    <option value="1">Restauration</option>
                                    <option value="2">Transport</option>
                                    <option value="3">Santé</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="file-input">Enregistrement</label>
                            <div class="col-md-9">
                                <input type="file" id="file-input" name="file-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="textarea-input">Textarea</label>
                            <div class="col-md-9">
                                <textarea id="textarea-input" name="textarea-input" rows="3" class="form-control"
                                    placeholder="Content.."></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Ajouter</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>