<div class="container mt-3">
    <div class="card">

        <div class="card-header">
            Ajouter un enregistrement
        </div>

        <div class="card-body">
            <form [formGroup]="enregistrementForm">

                <div class="row">
                    <div class="col-6">
                        <!-- Entreprise -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Entreprise</span>
                                </div>
                                <input formControlName="entreprise" type="text" id="username3" name="username3"
                                    class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>

                        <!-- Adresse -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Adresse</span>
                                </div>
                                <input formControlName="adresse" type="text" id="username3" name="username3"
                                    class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>

                        <!-- Code postal -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Code postal</span>
                                </div>
                                <input formControlName="codePostal" type="text" id="username3" name="username3"
                                    class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>

                        <!-- Code TVA -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Code TVA</span>
                                </div>
                                <input formControlName="codeTVA" type="text" id="username3" name="username3"
                                    class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>

                        <!-- Date Secteur -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Secteur</span>
                                </div>
                                <select formControlName="secteur" id="select1" name="select1" class="form-control">
                                    <option value="Restauration">Restauration</option>
                                    <option value="Médical">Médical</option>
                                    <option value="Commerce">Commerce</option>
                                </select>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-6">

                        <!-- Date Enregistrement -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Date enregistrement</span>
                                </div>
                                <input formControlName="dateEnregistrement" class="form-control" id="date-input"
                                    type="date" name="date-input" placeholder="date">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>

                        <!-- Date Rendez-vous -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Date rendez-vous</span>
                                </div>
                                <input formControlName="dateRDV" class="form-control" id="date-input" type="date"
                                    name="date-input" placeholder="date">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>

                        <!-- Téléphone -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Téléphone</span>
                                </div>
                                <input formControlName="telephone" type="text" id="username3" name="username3"
                                    class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>

                        <!-- Contact prospect -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Contact prospect</span>
                                </div>
                                <input formControlName="contactProspect" type="text" id="username3" name="username3"
                                    class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>

                        <!-- Enregistrement -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Enregistrement</span>
                                </div>
                                <input formControlName="enregistrement" type="file" id="username3" name="username3"
                                    class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-12">

                        <!-- Commentaire -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Commentaire</span>
                                </div>
                                <textarea formControlName="commentaire" id="textarea-input" name="textarea-input"
                                    rows="3" class="form-control" placeholder="Ajouter un commentaire"></textarea>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group form-actions">
                        <button type="button" class="btn btn-sm btn-primary ml-3"
                            (click)="validerEnregistrementForm()">Valider</button>
                    </div>

                </div>

            </form>
            {{enregistrementForm.value | json}}
        </div>
    </div>
</div>